.container {
    border: 2px solid silver;
    border-radius: 10px;
    width: 60%;
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
}
.container img {
    width: 300px;
    height: 350px;
}
.container span {
    background-color: rgba(192, 192, 192, 0.419);
    padding: 5px;
    border-radius: 10px;
}
.rightdiv {
    margin-left: 40px;
}

@media(max-width:940px){
    .container{
        flex-direction: column;
    }
}

@media(max-width:360px){
    .container img{
        width: 150px;
        height: 150px;
    }
}